.hideBg::part(background) {
    display: none;
}

ion-app {
    background: transparent !important;
}

.start-scan-button {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    display: block;
    left: 50%;
    height: 70vw;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
}


.scan-box::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right: 0;
    height: 1px;
    background: #c20606;
    box-shadow: 0 0 50px 10px #e5707a;
    clip-path:inset(0);
    animation:
             x 1.5s ease-in-out infinite alternate,
             y 3s   ease-in-out infinite;
}

@keyframes x {
    to {
        transform:translateY(-100%);
        top:100%;
    }
}

@keyframes y {
    83%{
        clip-path:inset(0 0 -100px 0);
    }
    50% {
        clip-path:inset(0 0 0 0);
    }
    33% {
        clip-path:inset(-100px 0 0 0);
    }
}